.pimage {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  border-radius: 50%;
  border: 10px;
  border-color: green;
}
body {
  margin: 0%;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;padding-right: 4px;
  height: 60px;
}
.pimage:hover {

  width: 300px;
  border-radius: 50%;
transition: 0.5s;
}
.contain:hover {
  margin-top: 10px;
}




.tagline {

  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: 'Inter', sans-serif;
  color: rgb(45, 44, 44);
}
body {
background: linear-gradient(90deg, rgba(252,255,99,1) 0%, rgb(202, 197, 93) 51%, rgba(255,236,126,1) 100%);
  width: 100vw;
  height: 100vh;
}
.logoimg {
  width: 50px;

}

.logoimg:hover {
  width: 60px;
  transition: 0.2s;
  cursor: pointer;
}
.github:hover {
  width: 50px;
  transition: 0.2s;
}
.indiv{
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  top: 40%;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
}



.parents{
 
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.github{
width: 42px;
margin-left: 4px;
}

.boxes {
  background-color: rgb(255, 255, 255);
  width: 250px;
  height: 150px;
  border-radius: 20px;
  border: 2px solid rgb(101, 101, 101);
  cursor: pointer;
}
.boxes:hover {
opacity: 0.8;
background-color: rgb(208, 209, 210);
transition: 0.2s;
}

@media screen and (max-width:500px) {
  .github {
    width: 35px;
  }
  .indiv {
    font-size: 20px;
  }
  .boxes{
    width: 60%;
    height: 100px;
    margin-bottom: 20px;
  }

  .tagline {
    font-size: 30px;
  }
  .pimage {
    width: 200px;
  } 
  .logoimg{
    width: 40px;
  }
}

@media screen and (min-width:500px) and (max-width:800px) {
  .github {
    width: 35px;
  }
  .indiv {
    font-size: 20px;
  }
  .boxes{
    width: 40%;
    height: 120px;
    margin-bottom: 20px;
  }

  .tagline {
    font-size: 30px;
  }
  .pimage {
    width: 200px;
  } 
  .logoimg{
    width: 40px;
  }
}
@media screen and (min-width:800px)  {
  .github {
    width: 35px;
  }
  .indiv {
    font-size: 20px;
  }
  .boxes{
    width: 40%;
    height: 150px;
    margin-bottom: 20px;
  }

  .tagline {
    font-size: 30px;
  }
  .pimage {
    width: 200px;
  } 
  .logoimg{
    width: 40px;
  }
}

@media screen and (min-width:1050px)  {
  .github {
    width: 35px;
  }
  .indiv {
    font-size: 20px;
  }
  .boxes{
    width: 20%;
    height: 140px;
    margin-bottom: 20px;
  }

  .tagline {
    font-size: 30px;
  }
  .pimage {
    width: 200px;
  } 
  .logoimg{
    width: 40px;
  }
}